@using System.Globalization;
@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> L
<link href="css/app.css" rel="stylesheet" />
<div class="page" style="@(lang=="ar" ? "direction:rtl;" : "")">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CultureSelector />
            <AccessControl />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@L["about"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    string lang = CultureInfo.CurrentCulture.Name.ToString();
}